@CHARSET "UTF-8";
/* 后台细节，自由发挥，基于bootstrap */
.main-footer {
	padding-bottom: 5px;
	padding-top: 5px;
}
.skin-blue .main-header .logo {
	background-color: #3c8dbc;
}
.content-header {
	padding-top: 10px;
}
.content-header > .breadcrumb {
	top: 10px;
}

.form-label {
	height: 34px;
	line-height: 34px;
	margin-bottom: 0;
}
.form-group {
	margin-bottom: 5px;
}
.form-group .help-block {
	clear: both;
}
/* 后台背景 */
.login-page, .register-page {
    background-image: url(../images/bg/bg3.jpg);
    background-position: center 0;
    background-repeat: repeat-x;
}
