@CHARSET "UTF-8";
/* 后台细节，自由发挥，基于bootstrap */
.main-footer {
	padding-bottom: 5px;
	padding-top: 5px;
}
.skin-blue .main-header .logo {
	background-color: #3c8dbc;
}
.content-header {
	padding-top: 10px;
}
.content-header > .breadcrumb {
	top: 10px;
}




